<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center">Beranda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <div
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 90%;
    "
  >
    <ion-text color="warning">
      <h4 style="padding: 0 20px; text-align: center">
        Login sebagai pengguna
      </h4>
    </ion-text>

    <ion-button
      style="padding: 0 40px; width: 100%"
      expand="block"
      (click)="user()"
      type="submit"
      ><ion-icon size="large" name="people-sharp"></ion-icon
    ></ion-button>

    <ion-text color="warning">
      <h4 style="margin-top: 30px; padding: 0 20px; text-align: center">
        Login sebagai admin
      </h4>
    </ion-text>

    <ion-button
      style="padding: 0 40px; width: 100%"
      expand="block"
      (click)="admin()"
      type="submit"
      ><ion-icon size="large" name="business-sharp"></ion-icon
    ></ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title style="text-align: center">2021 Ervan Rahadian</ion-title>
  </ion-toolbar>
</ion-footer>
